@model ICollection<Tutor.Core.SummaryPageModel>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<header id="head" class="secondary"></header>
<div class="container">
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Search ", "Search", "Summary")</li>
        <li class="active">Search Result</li>
    </ol>
    <div class="row">
        <header class="page-header">
            <h1 class="page-title">Search Result</h1>
        </header>
        <table class="table table-striped table-condensed">
            <tr class="success">
                <td>Name</td>
                <td>Date of Birth</td>
                <td>City</td>
                <td>Education</td>
                <td>Phone</td>
                <td>Summary</td>
                <td>Description</td>
                <td>Skills</td>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.ActionLink(item.Owner.FirstName +" "+ item.Owner.LastName, "UserPage", "Account", new { id = item.Owner.UserId }, new { })</td>
                    <td>@item.Owner.DateOfBirth.ToShortDateString()</td>
                    <td>@item.Owner.City @item.Owner.Country</td>
                    <td>@item.Owner.Education</td>
                    <td>@item.Owner.Phone</td>
                    <td>@Html.ActionLink(item.Summary.Description, "SummaryPage", "Summary", new { id = item.Summary.SummaryId }, new { })</td>
                    <td>@item.Summary.Description</td>
                    <td>
                        @foreach (var s in item.Summary.Skills)
                        {
                            @s.Name
                           @Html.Raw(", &nbsp;")
                        }

                    </td>
                </tr>
            }
        </table>
    </div>
</div>
