@model IEnumerable<Tutor.Core.Entities.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<header id="head" class="secondary"></header>

<!-- container -->
<div class="container">

    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Account")</li>
        <li class="active">User List</li>
    </ol>

    <div class="row">

        <!-- Article main content -->
        <article class="col-xs-12 maincontent">
            <header class="page-header">
                <h1 class="page-title">User List</h1>
            </header>


            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Login)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>

                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Login)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "UserPage", new { id = item.UserId })
                        </td>
                    </tr>
                }

            </table></article>
    </div>
</div>